@import url('https://fonts.googleapis.com/css?family=Special+Elite');


body {
    font-family: 'Special Elite', cursive;
    background-image: url("paper.jpg");
    font-size: 16px;
    text-align: center;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#inputBox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    font-family: 'Special Elite', cursive;
    -webkit-border-radius: 10px;
    behavior:url("border-radius.htc");
}

.enter {
    font-size: 150%
}

.subBut {
    width: 100px;
    height: 28px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    -webkit-border-radius: 10px;
    behavior:url("border-radius.htc");
}

li{ 
    list-style: none;
    font-size: 35px;

}